<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Establecimientos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/establecimientos.css') }}">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Lista de Establecimientos</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID del Establecimiento</th>
                    <th>Nombre del Establecimiento</th>
                    <th>Dirección</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for establecimiento in establecimientos %}
                <tr>
                    <td>{{ establecimiento.est_ID }}</td>
                    <td>{{ establecimiento.nombre_ins }}</td>
                    <td>{{ establecimiento.direccion }}</td>
                    <td>
                        <a href="{{ url_for('establecimientos.actualizar_establecimiento', est_ID=establecimiento.est_ID) }}" class="btn btn-warning btn-sm">Actualizar</a>
                        <form method="POST" action="{{ url_for('establecimientos.eliminar_establecimiento', est_ID=establecimiento.est_ID) }}" style="display:inline;">
                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas eliminar este establecimiento?');">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('establecimientos.crear_establecimiento') }}" class="btn btn-primary">Crear Nuevo Establecimiento</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
