<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
<body>

    <h1>Bienvenido</h1>

    <h2>Usuarios</h2>

    <a href="{{ url_for('usuarios.listar_usuarios') }}">Listar Usuarios</a> 

    <h2>Conductores</h2>
    
    <a href="{{ url_for('conductores.listar_conductores') }}">Listar Conductores</a>

    <h2>Establecimientos</h2>
    
    <a href="{{ url_for('establecimientos.listar_establecimientos') }}">Listar Establecimientos</a>

    <h2>Rutas</h2> 
    
    <a href="{{ url_for('rutas.listar_rutas') }}">Listar Rutas</a> 

    <h2>Vehículos</h2>
    <a href="{{ url_for('vehiculos.crear_vehiculo') }}">Crear Vehículo</a>
    <a href="{{ url_for('vehiculos.listar_vehiculos') }}">Listar Vehículos</a>

    <h2>Alumnos</h2>
  
    <a href="{{ url_for('alumnos.listar_alumnos') }}">Listar Alumnos</a>
   

    <h2>Administradores</h2>
    
    <a href="{{ url_for('administradores.listar_administradores') }}">Listar Administradores</a>
   
    
    <h2>Viajes</h2>
    
    <a href="{{ url_for('viajes.listar_viajes') }}">Listar Viajes</a>

</body>
</html>
