<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
</head>
<body>
    <h1>Lista de Usuarios</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.user_ID }}</td>
                <td>{{ usuario.email }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('usuarios.crear_usuario') }}">Crear Nuevo Usuario</a>
</body>
</html>
