<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gestionar.css') }}">
</head>
<body>

    <div id="ruta-container">
        <!-- Las rutas se agregarán aquí mediante JavaScript -->
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    function cargarRutas() {
        $.ajax({
            url: '/gestionar_rutas',
            method: 'GET',
            success: function(data) {
                var rutaContainer = $('#ruta-container');
                rutaContainer.empty();  // Limpia el contenedor antes de llenarlo
    
                data.forEach(function(ruta) {
                    rutaContainer.append('<div class="ruta-card">' +
                        '<h3>origen: ' + ruta.Origen + '</h3>' +
                        '<p>destino: ' + ruta.Destino + '</p>' +
                        '<p>cupos_disponibles: ' + ruta.Cupos_disponibles + '</p>' +
                        '</div>');
                });
            },
            error: function(xhr) {
                console.error("Error al cargar las rutas:", xhr);
            }
        });
    }
    
    // Llama a la función al cargar la página
    $(document).ready(function() {
        cargarRutas();
    });
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>